name: CI

on:
  # Trigger on all pushes and pull requests
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - run: |
          echo 'deb https://assets.checkra.in/debian /' | sudo tee /etc/apt/sources.list.d/checkra1n.list
          sudo apt-key adv --fetch-keys https://assets.checkra.in/debian/archive.key
          sudo apt-get update
          sudo apt-get install -y ld64
      - uses: actions/checkout@v2
      - run: EMBEDDED_CC='clang-10 --target=arm64-apple-ios12.0 -fuse-ld=/usr/bin/ld64' STRIP=llvm-strip-10 make clean all
      - uses: actions/upload-artifact@v2
        with:
          name: build
          path: |
            build/checkra1n-kpf-pongo
            build/Pongo
            build/PongoConsolidated.bin
