name: Build KPF & Pongo

on:
  # Trigger on all pushes and pull requests
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Update repository
        run: |
          git submodule update --init --recursive
          git fetch --all
          git reset --hard origin/$(git branch --show-current)
          git submodule update --recursive --remote

      - name: Compile KPF and Pongo
        run: |
          make

      - name: Prepare upload directory 
        run: |
          mkdir upload
          mv build/Pongo.bin upload/
          mv build/checkra1n-kpf-pongo upload/

      - name: Upload artifact
        uses: wangyucode/sftp-upload-action@v1.4.8
        with:
          host: ${{ secrets.NICKCHAN_FTP_HOST }}
          port: ${{ secrets.NICKCHAN_FTP_PORT }}
          username: palera1n
          password: ${{ secrets.NICKCHAN_FTP_PASS }}
          forceUpload: true
          dryRun: false
          localDir: 'upload'
          remoteDir: '/palera1n/artifacts/kpf'
